<div class="row">
  <div class="row card-deck">
    <div class="col-lg-4 col-md-6 mb-4 d-flex align-items-stretch" *ngFor="let product of products">
      <div class="card">
        <a [routerLink]="['./', product.id]">
          <img src={{product.picture}} class="card-img-top" alt="" id="{{product.id}}">
        </a>
        <div class="card-body h-100">
          <h5><b>{{product.name}}</b></h5>
          <h6>${{product.price}}</h6>
<!--          <div class="row bottomCard">-->
<!--            <div class="col-6 col-sm-4">-->
<!--              <input type="number" min="0" class="form-control" [(ngModel)]=order.quantity>-->
<!--            </div>-->
<!--            <div class="col-6 col-sm-2">-->
<!--              <button class="btn btn-primary mx-1"-->
<!--                      [disabled]="order.quantity <= 0">Add-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center my-auto" *ngIf="checker">
    <div id="noItems" class="col-12 text-center my-auto">
      <img src="../../../assets/images/notfound.png">
    </div>
  </div>
  <div class="mx-auto my-auto text-center alert alert-danger" role="alert" *ngIf="errorMsg">
    Error occurred on loading the products.
  </div>
</div>
